html {
    background-color: var(--background);
}

@media (max-width: 1150px) {
    .projectsWrapper {
        max-width: 95% !important;
    }
}

@media (max-width: 850px) {
    .projectsWrapper {
        flex-direction: column !important;
        width: 100% !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

.projectsPageHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding-top: 20px;
}