html {
    background-color: var(--background);
}

.projectsWrapper {
    display: flex;
    flex-direction: row;
}

.projectsPageHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding-top: 20px;
}