.background {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form {
    background-color: white;
    margin-top: 10%;
    border-radius: 25px;
    padding: 15px;
    transform: translateY(-100px);
}