.background {
    background-color: var(--background);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Form {
    background-color: white;
    margin-top: 10%;
    border: 2px solid;
    border-radius: 25px;
    border-color: var(--outline);
    padding: 15px;
    margin-top: 50px;
}