input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkboxcard{
    margin-top: 5px;
    margin-bottom: 5px;
}

.background {
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Form {
    background-color: white;
    border: 2px solid;
    border-radius: 25px;
    border-color: var(--outline);
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}