.background {
    background-color: var(--background);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form {
    background-color: white;
    margin-top: 10%;
    border: 2px solid;
    border-radius: 25px;
    border-color: var(--outline);
    padding: 15px;
    transform: translateY(-100px);
}