.projectContainer {
    font-size: 22px;
    padding: 15px 25px 15px 25px;
    margin: 20px; 
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    font-family: "Outfit", sans-serif;
}

.projectContainer:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.projectLink {
    font-size: 40px;
}

@media (max-width: 850px) {
    .projectContainer {
        font-size: 18px;
        padding: 5px !important;
        margin-left: 5px;
        margin-right: 5px;
        max-width: 450px;
    }
    .projectLink {
        font-size: 30px;
    }
}