.headerContainer {
    width: 100%;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--highlight);
    padding-bottom: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--highlight);
}
.headerFlex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 950px;
    max-width: 75%;
}

.homeLink {
    text-decoration: none !important;
    color: var(--text);
}
