.headerContainer {
    width: 100%;
    max-height: 100px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--highlight);
    padding-bottom: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--highlight);
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.headerFlex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    /* width: 1050px; */
    width: 85%;
}

.homeLink {
    text-decoration: none !important;
    color: var(--text);
}

.profileLink {
    padding-right: 10px;
}

.dropdownContent {
    display:none;
}
